In [56]:
import pymysql.cursors
import pandas as pd

In [12]:
db = pymysql.connect(host="localhost", user="root", password="", db="proj_blue_server",charset='utf8mb4',port = 3310)
cursor = db.cursor()

In [45]:
cursor.execute("SELECT art_newID,emotion_grade FROM emotion")

500

In [46]:
ivy = []
for i in cursor:
    if i[1] == 0 or i[1] >=4:
        ivy.append(i)
    else:
        pass
df_ivy = pd.DataFrame(ivy)
df_ivy = df_ivy.rename(columns={0: 'ID',1: 'ivy評分'})

In [47]:
cursor.execute("SELECT art_newID,emotion_grade FROM emotion_2")

500

In [48]:
tin = []
for i in cursor:
    if i[1] == 0 or i[1] >=4:
        tin.append(i)
    else:
        pass
df_tin = pd.DataFrame(tin)
df_tin = df_tin.rename(columns={0: 'ID',1: 'tin評分'})

In [49]:
cursor.execute("SELECT art_newID,emotion_grade FROM emotion_3")

500

In [50]:
nancy = []
for i in cursor:
    if i[1] == 0 or i[1] >=4:
        nancy.append(i)
    else:
        pass
df_nancy = pd.DataFrame(nancy)
df_nancy = df_nancy.rename(columns={0: 'ID',1: 'nancy評分'})

In [58]:
#ivy tin
df_ivytin = pd.merge(df_ivy,df_tin,on=['ID'])

In [59]:
#ivy nancy
df_ivynancy = pd.merge(df_ivy,df_nancy,on=['ID'])

In [60]:
#tin nancy
df_tinnancy = pd.merge(df_tin,df_nancy,on=['ID'])

In [70]:
df_tinnancy

      ID  tin評分  nancy評分
0      2      0        0
1      3      0        0
2      4      5        5
3      7      0        0
4      9      0        0
5     11      0        0
6     12      0        0
7     14      0        0
8     15      0        0
9     16      0        0
10    17      0        0
11    18      0        0
12    19      0        0
13    20      0        0
14    23      0        0
15    25      0        0
16    26      0        0
17    27      0        0
18    30      0        0
19    32      0        0
20    33      0        0
21    34      0        0
22    37      0        0
23    39      5        4
24    42      0        0
25    43      0        0
26    46      0        0
27    47      0        0
28    49      0        0
29    50      0        0
..   ...    ...      ...
241  457      5        4
242  458      0        0
243  459      5        5
244  460      0        0
245  461      0        0
246  462      0        0
247  463      5        4
248  470      0        0
249  471      5        5
250  472      5        4
251  473      0        0
252  475      4        4
253  476      0        0
254  477      5        4
255  479      0        0
256  480      0        0
257  482      0        0
258  485      0        0
259  486      0        0
260  488      0        0
261  489      0        0
262  491      0        0
263  493      0        0
264  494      0        0
265  495      0        0
266  496      0        0
267  497      0        0
268  498      5        4
269  499      0        0
270  500      0        0

[271 rows x 3 columns]

In [64]:
df_ivytin.to_csv('ivytin.csv')

In [65]:
df_ivynancy.to_csv('ivynancy.csv')

In [66]:
df_tinnancy.to_csv('tinnancy.csv')